/* page width */

#wrapper {
    min-width: 980px;
    border: 1px solid black;
    background-color: blue;
}
/* Header */

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

/* Content */

.content {
   border: 1px solid black;
   background-color: yellow;
   width: 50%;
   margin: 0 auto;
   padding: 5px;
}

.logo {
   display: block;
   margin: 0 auto;
}

/* Footer */